.experience-container{
    color: white;
    margin-left: 100px;
    margin-right: 250px;
    font-size: 15px;
}

.experience-category{
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0px 0px 5px rgb(111, 0, 255);
    color: black;
}

@media screen and (max-width: 830px) {
    .experience-container{
        font-size: 10px;
        margin-right: 100px;
    }

    .experience-category{
        font-size: 40px;
    }
}

@media screen and (max-width: 700px) {
    .experience-container{
        font-size: 9px;
    }

    .experience-category{
        font-size: 30px;
    }
}