.project-container{
    color: white;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 50px;
    margin-right: 250px;
    margin-bottom: 50px;
    position: relative;
}

.project-name{
    font-weight: bold;
    font-size: 50px;
}

.project-tools{
    font-size: 25px;
}

.project-section{
    background-color: rgb(255, 78, 78);
    max-width: 700px;
    border-radius: 20px;
    padding: 20px 20px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.project-section:hover{
    box-shadow: 0px 0px 5px 5px rgb(255, 0, 191);
}

.video-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container-hidden{
    display: none;
}

.video-container-active{
    display: block;
}

.video-container button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: none;
    font-weight: bold;
    background-color: black;
    color: rgb(255, 200, 241);
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    margin-bottom: -10px;
}

.video-container button:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px 5px rgb(255, 0, 191);
}

.background-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1400px){
    .project-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1050px){
    .project-container{
        grid-template-columns: 1fr;
    }

    .project-container video{
        width: 620px;
    }

    .video-container{
        top: 100%;
    }

}

@media screen and (max-width: 800px) {
    .project-container video{
        width: 520px;
        height: 350px;
    }

    .project-container{
        margin-right: 100px;
    }
}

@media screen and (max-width: 575px) {
    .project-container video{
        width: 420px;
        height: 280px;
    }
}
