.navbar-container{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 150px;
    z-index: 10;
}

.show{
    opacity: 1;
}

.hide{
    opacity: 0;
}

.nav-btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-style: none;
    font-weight: bold;
    background-color: black;
    color: rgb(255, 200, 241);
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
}

.nav-btn:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px 5px rgb(255, 0, 191);
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-top: 30px;
}

.button-name{
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    color: white;
    left: -145px;
    top: 15px;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
    width: 100px;
}

.btn-name-container{
    position: relative;
}

.nav-btn:hover + div{
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .navbar-container{
        flex-direction: row;
        top: 0;
        left: 0;
        right: 0;
        height: 100px;
        width: 100%;
    }

    .button-container{
        flex-direction: row;
        margin-top: 15px;
        justify-content: center;
        row-gap: 0px;
        column-gap: 50px;
    }

    .button-name{
        left: -15px;
        top: 90px;
    }
}