.NavSwiper{
    color: white;
    background-color: black;
    height: 50%;
    width: 50%;
    max-width: 600px;
    max-height: 300px;
    position: absolute;
    left: 100px;
    border-radius: 20px;
    font-weight: bold;
    transition: box-shadow 0.3s;
}

.NavSwiper:hover{
    box-shadow: 0px 0px 5px 5px rgb(255, 0, 191);
}

.slideTitle{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

